<!doctype html>

<html>

  <head>
  
  <!-- Javascript Library -->
  <script src="../../static/js/jquery-2.1.4.min.js"></script>
  <script src="../../static/js/arbor-v0.92/lib/arbor.js"></script>
  <script src="../../static/js/arbor-v0.92/lib/arbor-tween.js"></script>
  <script src="../../static/js/graphics.js"></script>
  <script src="../../static/js/renderer.js"></script>
  
  <head/>

  <body>

    <canvas id="viewport" width="1280" height="720"></canvas>
    <!-- Script to Insert Arbor -->
    <script src="../../static/js/main.js"></script>
  
  <body/>

</html>
