html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

<!-- ===== Lists ===== -->

ul li {
    text-transform: uppercase;
    width: 100%;
}
li {
    padding: 1%;
}

.titles {
    text-align: center;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 3%;
}

.hideme {
    display: none;
}

<!-- ===== About Section ===== -->

.aboutmainbottom { #About Us
	background: url(../images/background_white.png) repeat;
    font-size: 6rem;
}
.aboutdata {
    padding-top: 10%;
}  
p {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}
.blogtitle {
    padding: 2%;
    text-transform: uppercase;
    text-align: center;
}
#greentext {
    color: #17995d;
    text-align: center;
}
.aboutdata { #About the Data
    width: 100%;
    height: 100%;
    background: url(../images/green_overlay2.png) no-repeat;
    background-position: 50% 0;
    font-size: 2rem;
    z-index: -2;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-bottom: 5%;
}
.aboutdata > p {
    text-align: center;
    width: 50rem;
    padding: 1% 1%;
}

#anyonetext {
    color: #fff;
    width: 10%;
}

input[type="text"], textarea {
  background-color : #926B2D;
  font-size: 4rem;
  width: 250px; 
}
 .button{
    width: 100%;
 }
#search_button {
    margin: 0 auto; 
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%; 
    text-align: center;
    vertical-align: center;
}

select, option {
    background-color : #926B2D;
    font-size: 4rem;
}

option:hover{
    background-color: #aa7c34;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}
<!-- ============================================= Blog + Results ============================================================ -->
.blogimage {
    width: 100%;
    height: 100%;
    padding: 0;
}

.blogmain {
	background: url(../static/images/background_white.png) repeat;
    color: #878787;
}
.resultsarea {
    text-align: left;
}
#alignme {
    text-align: left;
}

<!-- ============================================= Navigation ============================================================ -->

.navbar-fixed-top {
    padding: 2%;
    font-size: 3rem;
    z-index: 4;
    background-color: red;
}

.navbar-nav {
    width: 100%;
}
.navsearch {
    background: url(../images/green_overlay.png) no-repeat; #Photo of classroom
    background-position: 50% 0;
    z-index: -2;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.searcharea {
    position: relative;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 10%;
    font-size: 4rem;
    color: #fff;
}
.links {
    color: #006600;
    text-decoration: underline;
}

<!-- ======================================================= footy ======================================================= -->
.footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}






