<!DOCTYPE html>
<html lang="en">
<head>
	<title>Find My Serviceman</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
		<div class="container-fluid" id="navmain">
			<div class="row">
				<nav class="navbar navbar-default" id="navtext">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <!-- Collect the nav links, forms, and other content for toggling -->
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#">Home</a></li>
				        <li><a href="#">About Us</a></li>
				        <li><a href="#">About Data</a></li>
				        <li><a href="#">Login</a></li>
				        <li><a href="#">Signup</a></li>
				      </ul>
				  </div><!-- /.container-fluid -->
				</nav>
				<div class="searcharea">
					<form action="#">
						<h1>I am looking for</h1>
						<textarea placeholder="anyone"></textarea> 
						<h1>who served</h1><br>
						<h1>during</h1>
						<textarea placeholder="anytime"></textarea>
						<h1>as a</h1>
						<textarea placeholder="service person"></textarea>
						<input type="image" src="images/search_button.png" border="0" alt="Submit" />
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="aboutmain">
			<div class="row">
				<h1>About Us</h1>
					<div class="col-md-4"><p>.col-md-4</p></div>
					<div class="col-md-4">.col-md-4</div>
					<div class="col-md-4">.col-md-4</div>
			</div>
		</div>

		<div class="container-fluid" id="aboutdata">
			<div class="row">
					<div class="col-md-3"><p>.col-md-3</p></div>
					<div class="col-md-3">.col-md-3</div>
					<div class="col-md-3">.col-md-3</div>
					<div class="col-md-3">.col-md-3</div>
			</div>
		</div>

		<div class="container-fluid" id="blogmain">
			<div class="row">
					<div class="col-md-4"><p>col-md-4</p></div>
					<div class="col-md-4">.col-md-4</div>
					<div class="col-md-4">.col-md-4</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12" id="bottommain">


			</div>
		</div>



	</body>
</html>